* {
    color: white;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: #424242;
}

/* Imported from Batista's Subdomain CSS */
.main-image:hover {
    transform: scale(1.03);
}

div.topbar {
    display: flex;
    align-items: center;
    width: 100%;
}

img.icon {
    width: 30px;
    height: 30px;
}